
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>药企内部管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 49.234.34.192 下再访问');
    </script>
</head>
<body class="layui-layout-body">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header" style="height:60px;background-color:#0094ff">
                <!-- 头部区域 -->
                <ul class="layui-nav layui-layout-left">
                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                    <li class="layui-nav-item" lay-unselect style="margin-right:150px">
                        <a href="/User/selectuser" target="main_self_frame">
                            <div style="width:21px;height:23px;margin-left:5px">
                                <img src="~/img/u69.png" />
                            </div>
                            <label id="Name" style="color:white;font-weight:600">登录人</label>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect style="margin-right:150px">
                        <a href="/booth/index" target="main_self_frame">
                            <div style="width:21px;height:23px;margin-left:5px">
                                <img src="~/img/u72.png" />
                            </div>
                            <cite style="color:white;font-weight:600">首页</cite>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect style="margin-right:300px">
                        <a href="/default/login">
                            <div style="width:21px;height:23px;margin-left:5px">
                                <img src="~/img/u75.png" />
                            </div>
                            <cite style="color:white;font-weight:600">退出</cite>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="home/console.html">
                        <span style="color:white;font-weight:700">药企内部管理系统</span>
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="/booth/index" lay-tips="首页" lay-direction="2" target="main_self_frame">
                                <i class="layui-icon layui-icon-home"></i>
                                <cite>首页</cite>
                            </a>
                        </li>
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" lay-tips="会议管理" lay-direction="2">
                                <cite>会议管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console" class="layui-this">
                                    <a href="/Conference/ShowConference" target="main_self_frame">国际会议</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="/Conference/ConStatistics" target="main_self_frame">会议统计</a>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" lay-tips="物料管理" lay-direction="2">
                                <cite>物料管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console" class="layui-this">
                                    <a href="/Material/ShowMaterial" target="main_self_frame">物料列表</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="/Material/GetApproval" target="main_self_frame">物料审批</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="/Material/GetShowMaterialApprove" target="main_self_frame">物料订单</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="/Material/BarGraph" target="main_self_frame">物料统计</a>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" lay-tips="活动管理" lay-direction="2">
                                <cite>活动管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console" class="layui-this">
                                    <a href="/Activity/ShowActivity" target="main_self_frame">活动列表</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="/Activity/Statistics" target="main_self_frame">统计报表</a>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                                <cite>用户管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="console" class="layui-this">
                                    <a href="/User/ShowList" target="main_self_frame">用户列表</a>
                                </dd>
                                <dd data-name="console">
                                    <a href="/User/ShowJob" target="main_self_frame">职务权限</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
            </div>


            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="/booth/index" frameborder="0" name="main_self_frame" class="layadmin-iframe"></iframe>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
    
    <script>
        layui.config({
            base: '../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use('index');
    </script>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        console.log(localStorage["Name"]);
        $('#Name').html(localStorage["Name"]);
    })
    function refreshHighlight(url) {
        $ = layui.jquery;
        $(".layui-nav[lay-filter='navList'] a").each(function (ind, val) {
            if ($(this).attr('href') === url) {
                $('.layui-nav dd').removeClass('layui-this');
                $(this).parent('dd').addClass('layui-this');
            }
        })
    }
</script>


