
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设置权限</title>
</head>
<body>
    <div style="margin-left:100px;margin-left:20px">
        <div>
            <h3 style="font-weight:600;">添加用户</h3>
            <input type="button" value="返回" onclick="GoBack()" />
        </div>
        <table id="JobTb">
        </table>
        <h2>操作权限</h2>
        <table class="table table-borderless" id="PermissionTb">
        </table>
        <div>
            <input type="button" value="button" onclick="Save()" />
            <input type="reset" value="reset" onclick="Resave()" />
        </div>
    </div>
</body>
</html>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        ShowJob();
    })
    function GoBack() {
        window.history.back(-1);
    }
    function ShowJob() {
        var photo = '/img/u829.png';
        var id = localStorage["PermissionId"];
        $.ajax({
            url: "http://localhost:49764/api/user/ShowSingleJob?id=" + id,
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                $('#JobTb').empty();
                var str = '';
                str = '<tr>' +
                    '<td rowspan = "2" >' +
                    '<img src="' + photo + '" />' +
                    '</td >' +
                    '<td>' + data.job_Name + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>' + data.job_Desc + '</td>' +
                    '</tr>';
                $('#JobTb').append(str);
            }
        })
        ShowPermission();
    }
    function ShowPermission() {
        $.ajax({
            url: "http://localhost:49764/api/user/ShowPermission",
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                $('#PermissionTb').empty();
                var str = '';
                $.each(data, function (i, n) {
                    str += '<tr>' +
                        '<td><input type="checkbox" class="chk" id="chk' + n.id + '"  value="' + n.id + '"/>' + n.permission_Name + '</td>' +
                        '</tr><tr>';
                    $.each(n.modelList, function (x, y) {
                        str += '<td><input type="checkbox" class="chk" id="chk' + y.id + '" value="' + y.id + '"/>' + y.permission_Name + '</td>';
                    })
                    str += '</tr>';
                })
                $('#PermissionTb').append(str);
            }
        })
        $('.chk').attr("checked", false);
        ChkPermission();
    }
    function ChkPermission() {
        var id = localStorage["PermissionId"];
        $.ajax({
            url: "http://localhost:49764/api/user/ShowSinglePermission?id=" + id,
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                console.log(data);
                //$('.chk').attr("checked", false);
                $.each(data, function (i, n) {

                    if (n.job_Relcation < 5) {
                        ChkPid(n.job_Relcation);
                    }
                })
            }
        })
    }
    function ChkPid(id) {
        $.ajax({
            url: "http://localhost:49764/api/user/ChkPid?id=" + id,
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                if (data != null) {
                    $.each(data, function (i, n) {
                        $('#chk' + n.id).attr("checked", true);
                    })
                }
            }
        })
        $('#chk' + id).attr("checked", true);
    }
    function Save() {
        var che = [];
        $.each($("input[class='chk']:checked"), function (i) {
            che.push($(this).val());
        });
        var pid = che.join(',');
        var ids = pid;
        var id = localStorage["PermissionId"];
        $.ajax({
            url: "http://localhost:49764/api/user/ChangePermission?id=" + id + "&ids=" + ids,
            type: "get",
            dataType: "json",
            async: false,
            success: function (d) {
                if (d > 0) {
                    location.href = "/user/showjob";
                }
            }
        })
    }
    function Resave() {
        $('.chk').attr("checked", false);
    }
</script>