
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>职务权限</title>
</head>
<body>
    <input type="button" value="添加职务" onclick="Add()"/>
    <table>
        <tr>
            <td>选择</td>
            <td>职务名称</td>
            <td>职务描述</td>
            <td>职务状态</td>
            <td>添加时间</td>
            <td>操作</td>
        </tr>
        <tbody id="tb">

        </tbody>
    </table>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layer/layer.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>

</script>
    