
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>
</head>
<body>
    <div>
        <select id="ShowDepartment">
        </select>
        <select id="ShowProvince">
        </select>
        <select id="ShowCity" onchange="ProvinceChange()">
        </select>
        <select id="ShowDistrict" onchange="CityChange()">
        </select>
        <select id="ShowJob">
        </select>
        <input id="txt_Sel" type="text" placeholder="输入手机号或姓名或工号" />
        <input type="button" value="筛选" onclick="Select()" />
    </div>
    <div>
        <div>
            <input type="button" value="添加" class="layui-btn layui-btn-normal" onclick="Add()"/>
            <input type="button" value="导入" class="layui-btn layui-btn-primary" onclick="Insert()"/>
            <input type="button" value="导出" class="layui-btn layui-btn-primary" onclick="Derive()"/>
            <input type="button" value="修改职务" class="layui-btn layui-btn-primary" onclick="UpdateJob()"/>
            <input type="button" value="修改部门" class="layui-btn layui-btn-primary" onclick="UpdateDepartment()"/>
            <input type="button" value="停用用户" class="layui-btn layui-btn-primary" onclick="Dead()"/>
            <input type="button" value="冻结用户" class="layui-btn layui-btn-primary" onclick="Freeze()"/>
        </div>
        <div>
            <input type="text" value="全部" onclick="ShowAll(0)" style="background-color: Transparent; border-style: none;"/>全部
            <input type="button" value="CV组" onclick="ShowAll(1)" style="background-color: Transparent; border-style: none;" />
            <input type="button" value="DIA组" onclick="ShowAll(2)" style="background-color: Transparent; border-style: none;" />
            <input type="button" value="社区组" onclick="ShowAll(3)" style="background-color: Transparent; border-style: none;" />
        </div>
        <table>
            <tr>
                <td>选择</td>
                <td>用户名（手机号）</td>
                <td>姓名</td>
                <td>工号</td>
                <td>产品组</td>
                <td>部门</td>
                <td>职位</td>
                <td>添加时间</td>
                <td>操作</td>
            </tr>
            <tbody id="tb">
            </tbody>
        </table>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
<script src="~/layer/layer.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>
    var str = "";
    var tab = "";
    var total = 0;
    layui.use('layer', function () {
        var layer = layui.layer;
    });
    function ShowAll(id) {
        ShowList(id);
    }
    $(function () {
        ShowDepartment();
    })
    function ShowDepartment() {
        $.ajax({
            url: "http://localhost:49764/api/user/ShowDepartment",
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#ShowDepartment').empty();
                var str = '<option value="0">请选择</option>';
                $.each(data, function (i, n) {
                    str += '<option value="' + n.id + '">' + n.department_Name + '</option>';
                })
                $('#ShowDepartment').append(str);
            }
        })
        ShowProvince();
    }
    function ShowProvince() {
        $.ajax({
            url: "http://localhost:49764/api/user/ShowProvince",
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#ShowProvince').empty();
                var str = '<option value="0">请选择</option>';
                $.each(data, function (i, n) {
                    str += '<option value="' + n.id + '">' + n.place_Name + '</option>';
                })
                $('#ShowProvince').append(str);
            }
        })
        ShowCity();
    }
    function ShowCity() {
        $('#ShowCity').empty();
        var str = '<option value="0">请选择</option>';
        $('#ShowCity').append(str);
        ShowDistrict();
    }
    function ShowDistrict() {
        $('#ShowDistrict').empty();
        var str = '<option value="0">请选择</option>';
        $('#ShowDistrict').append(str);
        ShowJob();
    }
    function ShowJob() {
        $.ajax({
            url: "http://localhost:49764/api/user/ShowJob",
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#ShowJob').empty();
                var str = '<option value="0">请选择</option>';
                $.each(data, function (i, n) {
                    str += '<option value="' + n.id + '">' + n.job_Name + '</option>';
                })
                $('#ShowJob').append(str);
            }
        })
        ShowList(0);
    }
    function ProvinceChange() {
        var pid = $('#ShowProvince').val();
        $.ajax({
            url: "http://localhost:49764/api/user/ShowProvince?pid=" + pid,
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#ShowCity').empty();
                var str = '<option value="0">请选择</option>';
                $.each(data, function (i, n) {
                    str += '<option value="' + n.id + '">' + n.place_Name + '</option>';
                })
                $('#ShowCity').append(str);
            }
        })
    }
    function CityChange() {
        var pid = $('#ShowProvince').val();
        $.ajax({
            url: "http://localhost:49764/api/user/ShowProvince?pid=" + pid,
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#ShowDistrict').empty();
                var str = '<option value="0">请选择</option>';
                $.each(data, function (i, n) {
                    str += '<option value="' + n.id + '">' + n.place_Name + '</option>';
                })
                $('#ShowDistrict').append(str);
            }
        })
    }
    function ShowList(product) {
        var txt_Sel = $('#txt_Sel').val();
        var ShowDepartment = $('#ShowDepartment').val() == null ? 0 : $('#ShowDepartment').val();
        var ShowProvince = $('#ShowProvince').val() == null ? 0 : $('#ShowDepartment').val();
        var ShowCity = parseInt($('#ShowCity').val());
        var ShowDistrict = parseInt($('#ShowDistrict').val());
        var ShowJob = $('#ShowJob').val() == null ? 0 : $('#ShowDepartment').val();
        $.ajax({
            url: "http://localhost:49764/api/user/ShowUser?product=" + product+"&did=" + ShowDepartment + "&pid=" + ShowCity + "&cid=" + ShowCity + "&dis=" + ShowDistrict + "&jid=" + ShowJob + "&name=" + txt_Sel,
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#tb').empty();
                console.log(data);
                total = data.total;
                var str = '';
                $.each(data.model, function (i, n) {
                    str += '<tr><td><input class="chk" type="checkbox" value="' + n.id
                        + '" /></td><td>' + n.user_Phone + '</td><td>' + n.user_Name + '</td><td>' + n.product_Name
                        + '</td><td>' + n.department_Name + '</td><td>' + n.job_Name + '</td><td>' + n.user_AddTime
                        + '</td><td><button id="test" type="button" class="layui-btn" onclick="Lok(' + n.id + ')">查看详情</button><a href="">编辑</a><a href="">删除</a></td></tr>';
                })
                $('#tb').append(str);
            }
        })
        PageShow(total);
    }
    function Select() {
        ShowList(0);
    }
    function Lok(id) {
        $.ajax({
            url: "http://localhost:49764/api/user/SelectUser?id=" + id,
            type: "get",
            dataType: "json",
            success: function (data) {
                $.each(data, function (m, n) {
                    str += '<div><div style="float:left;"><img src="' + n.user_Photo + '" style="width:50px;height:70px"/></div>';
                    tab += '<table><tr><td>姓名：' + n.user_Name + '</td><td>工号：' + n.user_Id + '</td><td>性别：' + IsBoy(n.user_Sex) + '</td></tr><tr><td>联系方式：' + n.user_Phone + '</td><td>邮箱：' + n.user_Email + '</td><td>微信账号：' + n.user_Wechat + '</td></tr><tr><td>QQ号码：' + n.user_QQ + '</td><td>部门：' + n.department_Name + '</td><td>职位：' + n.job_Name + '</td></tr><tr><td>所在区域：' + n.user_Area + '</td><td>联系地址：' + n.user_Address + '</td><td></td></tr><tr><td>产品组：' + n.product_Name + '</td><td></td><td></td></tr></table></div>';
                })
            }
        })
        var html = str + tab;
        layer.ready(function () {
            layer.open({
                type: 1,
                content: html, //这里content是一个普通的String
                area: ['500px', '300px']
            });
        });

        str = "";
        tab = "";
    }
    function IsBoy(id) {
        switch (id) {
            case 0:
                return "保密";
                break;
            case 1:
                return "男";
                break;
            case 2:
                return "女";
                break;
            default:
                break;
        }
    }
    function PageShow(total) {

    }
    function Add() {
        location.href = "/user/AddsingleUser";
    }
    function Insert() {
        location.href = "/user/InsertUser";
    }
</script>