
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div style="margin-left:100px;margin-left:20px">
        <div>
            <h3 style="font-weight:600;">首页</h3>
        </div>
        <div style="margin-top:20px;margin-right:40px">
            <div style="border: 1px solid #808080;width:500px;height:40px;vertical-align:central">
                新增数据
                <select id="DataTime" style="float:right">
                    <option value="week">本周</option>
                    <option value="month">本月</option>
                    <option value="year">本季度</option>
                </select>
            </div>
            <div style="border: 1px solid #808080;width:500px;height:300px">
                <div style="margin:60px;margin-right:40px;float:left">
                    <a href="javascript:GetUser()" style="color:black;text-decoration:none">
                        <div id="user">
                            <h1>  50</h1>
                            <h4>新增用户</h4>
                        </div>
                    </a>
                </div>
                <div style="margin:60px;margin-left:40px;margin-right:40px;float:left">
                    <a href="javascript:GetMeet()" style="color:black;text-decoration:none">
                        <div id="meet">
                            <h1>  50</h1>
                            <h4>新增会议</h4>
                        </div>
                    </a>
                </div>
                <div style="margin:60px;margin-left:40px;margin-right:40px;float:left">
                    <a href="javascript:GetWu()" style="color:black;text-decoration:none">
                        <div id="wu">
                            <h1>  50</h1>
                            <h4>新增会议</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top:20px;margin-right:40px">
            <div style="border: 1px solid #808080;width:500px;height:40px;vertical-align:central">
                会议统计
                <select id="MeetTime" style="float:right">
                    <option value="week">本周</option>
                    <option value="month">本月</option>
                    <option value="year">本季度</option>
                </select>
            </div>
            <div style="border: 1px solid #808080;width:500px;height:300px">
                <div style="margin:60px;margin-right:40px;float:left">
                    <a href="javascript:GetUser()" style="color:black;text-decoration:none">
                        <div id="user">
                            <h1>  50</h1>
                            <h4>新增用户</h4>
                        </div>
                    </a>
                </div>
                <div style="margin:60px;margin-left:40px;margin-right:40px;float:left">
                    <a href="javascript:GetMeet()" style="color:black;text-decoration:none">
                        <div id="meet">
                            <h1>  50</h1>
                            <h4>新增会议</h4>
                        </div>
                    </a>
                </div>
                <div style="margin:60px;margin-left:40px;margin-right:40px;float:left">
                    <a href="javascript:GetWu()" style="color:black;text-decoration:none">
                        <div id="wu">
                            <h1>  50</h1>
                            <h4>新增会议</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top:20px;margin-left:40px;margin-right:40px">
            <div>
                会议统计
                <select id="MeetTime">
                    <option value="week">本周</option>
                    <option value="month">本月</option>
                    <option value="year">本年</option>
                </select>
            </div>
            <div id="MeetState">

            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
</script>