
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test1</title>
</head>
<body>
    <table style="width:400px;height:100px;margin-top:20px">
        <tr style="width:400px;height:110px">
            <td><span style="margin:20px;float:left"> 已选用户</span></td>
            <td><div id="Zw" style="border:1px solid #000;float:right;width:280px;height:100px"></div> </td>
        </tr>
        <tr style="width:400px;height:130px;">
            <td><div style="margin:20px;width:80px;">原因备注</div> </td>
            <td><textarea id="Desc" type="text" style="border:1px solid #000;float:right;width:280px;height:100px"></textarea></td>
        </tr>
    </table>
</body>
</html>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
<script src="~/layer/layer.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>