
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin-left:100px;margin-left:50px">
        <div>
            <h3 style="font-weight:600;">首页</h3>
        </div>
        <div style="margin-top:20px;margin-right:40px;float:left">
            <div style="border: 1px solid #808080;width:600px;float:left;height:40px;vertical-align:central">
                <h3 style="float:left">新增数据</h3>
                <select id="DataTime" style="float:right" onchange="ShowData()" class="btn btn-default dropdown-toggle">
                    <option value="week">本周</option>
                    <option value="month">本月</option>
                    <option value="year">本季度</option>
                </select>
            </div>
            <div style="border: 1px solid #808080;width:600px;height:350px;margin-top:40px" id="shownum">
                <div style="margin:60px;float:left">
                    <a href="/User/ShowList" style="color:black;text-decoration:none">
                        <div id="user">

                        </div>
                    </a>
                </div>
                <div style="margin:60px;margin-left:30px;float:left">
                    <a href="/Conference/ShowConference" style="color:black;text-decoration:none">
                        <div id="meet">

                        </div>
                    </a>
                </div>
                <div style="margin:60px;margin-left:30px;float:left">
                    <a href="/Material/ShowMaterial" style="color:black;text-decoration:none">
                        <div id="wu">

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top:20px;float:left;">
            <div style="float:left;width:600px;">
                <div style="border: 1px solid #808080;width:600px;height:40px;vertical-align:central">
                    <h3 style="float:left">会议统计</h3> 
                    <select id="MeetTime" style="float:right" onchange="ShowPie()" class="btn btn-default dropdown-toggle">
                        <option value="week">本周</option>
                        <option value="month">本月</option>
                        <option value="year">本季度</option>
                    </select>
                </div>
            </div>
            <div id="MeetState" style="border: 1px solid #808080;width:600px;height:350px;margin-top:40px">

            </div>
        </div>
    </div>
</body>
</html>
<link rel="shortcut icon" href="../js/echarts-2.2.7/doc/asset/ico/favicon.png">
<script type="text/javascript" src="../js/echarts-2.2.7/doc/asset/js/jquery.min.js"></script>
<script type="text/javascript" src="../js/echarts-2.2.7/doc/example/www2/js/echarts-all.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script>
    $(function () {
        ShowData();
    })
    function ShowData() {
        var time = $('#DataTime').val();
        var tab = "UserTable";
        $.ajax({
            url: "http://localhost:49764/api/user/GetLog?time=" + time + "&table=" + tab,
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#user').empty();
                var str = '<div id="user">' +
                    '<h1>&nbsp;&nbsp;&nbsp;' + data.num + '</h1>' +
                    '<h4>新增用户</h4>' +
                    '</div>';
                $('#user').html(str);
            }
        })
        tab = "ConferenceTable";
        $.ajax({
            url: "http://localhost:49764/api/user/GetLog?time=" + time + "&table=" + tab,
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#meet').empty();
                var str = '<div id="user">' +
                    '<h1>&nbsp;&nbsp;&nbsp; ' + data.num + '</h1>' +
                    '<h4>新增会议</h4>' +
                    '</div>';
                $('#meet').html(str);
            }
        })
        tab = "MaterialTable";
        $.ajax({
            url: "http://localhost:49764/api/user/GetLog?time=" + time + "&table=" + tab,
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#wu').empty();
                var str = '<div id="user">' +
                    '<h1>&nbsp;&nbsp;&nbsp; ' + data.num + '</h1>' +
                    '<h4>新增物料</h4>' +
                    '</div>';
                $('#wu').html(str);
            }
        })
    }

</script>
<script>
    var myChart = echarts.init(document.getElementById('MeetState'));
    $(document).ready(function () {
        // 基于准备好的dom，初始化echarts实例
        


        // 初始 option
        option = {
            title: {
                text: '',
                subtext: '',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['已完成', '正举办', '未举办']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: []
                }
            ]
        };
        ShowPie();
       
        //获取数据
        
    });
    function ShowPie() {
        $.getJSON("http://localhost:49764/api/user/GetCon?time=" + $('#MeetTime').val(), function (data11) {
            var d = data11;
            var nanlist = [];

            for (var i = 0; i < d.length; i++) {
                // var m=new Map();//定义一个字典或者map集合
                // m.set("value",d[i].jine);
                // m.set("name",d[i].dpname);
                var m = {};
                m["value"] = d[i].num;
                m["name"] = d[i].name;
                nanlist.push(m);

            }
            myChart.setOption({

                legend: {
                    data: ['已完成', '正举办', '未举办']
                },
                series: [{
                    // 根据名字对应到相应的系列
                    name: '会议状态',
                    data: nanlist
                },
                ]
            });
        });
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
</script>