
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowActivity</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
</head>
<body>


    <script type="text/html" id="barDemo">
        {{#  if(d.activityState_Id == 1){ }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="sel">查看执行情况</a>
        {{#  }else{ }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="sel">查看执行情况</a>
        {{#  } }}
        @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="sel">查看执行情况</a>*@


    </script>

    <form class="layui-form">
        活动类型：
        <div class="layui-inline">
            <select name="ActivityType_Id" lay-filter="aihao" id="Type1">
            </select>
        </div>
        活动状态：
        <div class="layui-inline">
            <select name="ActivityState_Id" lay-filter="aihao" id="State1">
            </select>
        </div>
        关键字：
        <div class="layui-inline">
            <input class="layui-input" name="Search" id="Search" autocomplete="off">
        </div>
        <button class="layui-btn" type="button" lay-submit lay-filter="add">搜索</button>
        <input type="button" value="添加" class="layui-btn layui-btn-normal" onclick="Add()" />
    </form>


    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">全部</li>
            <li>CV组</li>
            <li>DIA组</li>
            <li>社区组</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <table id="ShowData" lay-filter="TestTT"></table>
        </div>
    </div>
    <div>
    </div>
</body>
</html>
<script>
    layui.use(['table', 'form', 'element'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var d = -1;
        element.on('tab(docDemoTabBrief)', function (data) {
            if (data.index == 0) {
                d = -1;
                table.reload('ShowData', {
                    url: "http://localhost:49764/api/activity/ShowActivity",
                    method: 'get'
                    , where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val(), Activity_Product_Id: -1 }
                    , page: {
                        curr: 1
                    }
                });
            }
            else if (data.index == 1) {
                d = 0;
                table.reload('ShowData', {
                    url: "http://localhost:49764/api/activity/ShowActivity",
                    method: 'get'
                    , where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val(), Activity_Product_Id: 0 }
                    , page: {
                        curr: 1
                    }
                });
            }
            else if (data.index == 2) {
                d = 1;
                table.reload('ShowData', {
                    url: "http://localhost:49764/api/activity/ShowActivity",
                    method: 'get'
                    , where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val(), Activity_Product_Id: 1 }
                    , page: {
                        curr: 1
                    }
                });
            }
            else if (data.index == 3) {
                d = 2;
                table.reload('ShowData', {
                    url: "http://localhost:49764/api/activity/ShowActivity",
                    method: 'get'
                    , where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val(), Activity_Product_Id: 2 }
                    , page: {
                        curr: 1
                    }
                });
            }
        });
        Type();
        State();
        var Name = "";
        function Type() {
            $.ajax({
                url: "http://localhost:49764/api/activity/ShowType"
                , type: "Get"
                , success: function (data) {
                    console.log(data);
                    var list = '<option value="0" >请选择</option>';
                    $(data).each(function () {
                        list += '<option value=' + this.id + '>' + this.activityType_Name + '</option>';
                    });
                    $("#Type1").append(list);
                    form.render();
                }
            })
        }
        function GetDepart(id) {
            $.ajax({
                url: " http://localhost:49764/api/activity/GetdepartName?id=" + id
                , type: "Get"
                , success: function (data) {

                    Name = data;
                }
            })
            console.log(Name);
            return Name;
        }
        function GetActivity(id) {
            $.ajax({
                url: " http://localhost:49764/api/activity/GetActivityName?id=" + id
                , type: "Get"
                , success: function (data) {
                    console.log(data);
                    return data;
                }
            })

        }
        function State() {
            $.ajax({
                url: "http://localhost:49764/api/activity/ShowState"
                , type: "Get"
                , success: function (data) {
                    $("#State1").empty();
                    var list = '<option value="0" >请选择</option>';
                    $(data).each(function () {
                        list += '<option value=' + this.id + '>' + this.activityState + '</option>'
                    })
                    $("#State1").append(list);
                    form.render();
                }
            })
        }

        //第一个实例
        table.render({
            elem: '#ShowData'
            , height: 500
            , url: 'http://localhost:49764/api/activity/ShowActivity' //数据接口
            , page: true //开启分页
            , totalRow: true //开启合计行
            , cols: [[ //表头
                { field: 'activity_Name', title: '活动名称', width: 150, sort: true, fixed: 'left' }
                , {
                    field: 'activityType_Id', title: '活动类型', width: 150
                    , sort: true, templet: function (d) {
                        if (d.activityType_Id == 1) {
                            return "市场活动";
                        }
                        else if (d.activityType_Id == 2) {
                            return "科室会";
                        }
                        else if (d.activityType_Id == 3) {
                            return "城市会";
                        }
                        else {
                            return "圆桌会";
                        }
                    }
                }
                , {
                    field: 'activity_Product_Id', title: '产品组', width: 150, sort: true, templet: function (d) {
                        if (d.activity_Product_Id == 0) {
                            return "CV组";
                        }
                        else if (d.activity_Product_Id == 1) {
                            return "DIA组";
                        }
                        else {
                            return "社区组";
                        }
                    }
                }
                , {
                    field: 'acticity_Department_Id', title: '部门', width: 150, sort: true, templet: function (d) {
                        if (d.acticity_Department_Id == 0) {
                            return "市场部";
                        }
                        else {
                            return "销售部";
                        }
                    }
                }
                , {
                    field: 'timeBegin', title: '开始时间', width: 150, templet: function (d) {
                        var data = new Date(d.timeBegin);
                        var year = data.getFullYear();  //获取年
                        var month = data.getMonth() + 1;    //获取月
                        var day = data.getDate(); //获取日
                        time = year + "-" + month + "-" + day;
                        return time;
                    }
                }
                , {
                    field: 'timeEnd', title: '结束时间', width: 150, sort: true, templet: function (d) {
                        var data = new Date(d.timeBegin);
                        var year = data.getFullYear();  //获取年
                        var month = data.getMonth() + 1;    //获取月
                        var day = data.getDate(); //获取日
                        time = year + "-" + month + "-" + day;
                        return time;
                    }
                }
                , {
                    field: 'activityState_Id', title: '状态', width: 150, sort: true, templet: function (d) {
                        if (d.activityState_Id == 1) {
                            return "未开始";
                        }
                        else if (d.activityState_Id == 2) {
                            return "已结束";
                        }
                        else {
                            return "进行中";
                        }
                    }
                }
                , { field: 'activityState_Id', title: '操作', width: 290, templet: '#barDemo' }
            ]], where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val() },
            request: {
                pageName: 'page',   // 页码的参数名称，默认：page
                limitName: 'pageSize'   // 每页数据量的参数名，默认：limit
            }
        });
        table.on('tool(TestTT)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                location.href = "/activity/Details?id=" + data.id;
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "http://localhost:49764/api/activity/DelActivity?id=" + data.id,
                        type: "get",
                        success: function (result) {
                            if (result > 0) {
                                layer.msg('删除成功');
                                //调用显示方法进行局部刷新
                                table.reload('ShowData', {
                                    url: "http://localhost:49764/api/activity/ShowActivity",
                                    method: 'get'
                                    , where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val(), Acticity_Department_Id: d }
                                    , page:
                                    {
                                        curr: 1
                                    }
                                });
                            }
                            else {
                                layer.msg('删除失败');
                            }
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                Edit(data.id);
            } else if (layEvent === 'sel') {
                location.href = "/activity/Execute?id=" + data.id;
                layer.msg('查看执行情况');
            }

        });


        function Edit(id) {
            location.href = "/Activity/UpdActivity?id=" + id;
        };
        form.on('submit(add)', function (data) {
            table.reload('ShowData', {
                url: "http://localhost:49764/api/activity/ShowActivity",
                method: 'get'
                , where: { ActivityType_Id: Number($("#Type1").val()), ActivityState_Id: Number($("#State1").val()), Search: $("#Search").val(), Acticity_Department_Id: d }
                , page: {
                    curr: 1
                }
            });
        });
    });

    //function Type() {
    //    $.ajax({
    //        url: "http://localhost:49764/api/activity/ShowType"
    //        , type: "Get"
    //        , success: function (data) {
    //            $("#Type1").empty();
    //            var list = '<option value="0" >请选择</option>';
    //            $(data).each(function () {
    //                list += '<option value=' + this.Id + '>' + this.activityType_Name + '</option>';
    //            });
    //            $("#Type1").append(list);
    //        }
    //    })
    //}

    //筛选
    function Screen() {
        var Type1 = $("#Type1").val();
        var State1 = $("#State1").val();
        $.ajax({
            url: "http://localhost:49764/api/activity/ShowActivity"
            , type: "Get"
            , success: function (data) {
                //显示结果
                $("#tb").empty();
                $(result).each(function () {
                    var list = '<tr>' +
                        '<td>' + this.activity_Name + '</td>' +
                        '<td>' + this.activityType_Id + '</td>' +
                        '<td>' + this.activity_Product_Id + '</td>' +
                        '<td>' + this.activity_Department_Id + '</td>' +
                        '<td>' + this.timeBegin + '</td>' +
                        '<td>' + this.timeEnd + '</td>' +
                        '<td>' + this.activityState_Id + '</td>' +
                        '<td><input id="Detail" type="button" value="查看详情" oclick="detail()"/><input id="edit" type="button" value="编辑" oclick="Edit(' + id + ')"/><input id="Recycle" type="button" value="删除" oclick="recycle(' + id + ')"/><input id="Check" type="button" value="查看执行情况" oclick="Check(' + id + ')"/></td>' +
                        '</tr>'
                    $("#tb").append(list);
                })
            }
        })
    }
    function Add() {
        location.href = "/activity/AddActivity";
    }

    //删除的方法
    function recycle(id) {
        if (confirm("是否确认删除？")) {
            $.ajax({
                url: "http://localhost:49764/api/activity/DelActivity",
                type: "Delete",
                data: { id: id },
                dataType: "text",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        //调用显示方法进行局部刷新
                        ShowActivity();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            });
        }
    }
    //function edit(id) {
    //    location.href = "/show/update?Id=" + id;
    //}

</script>
