
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMaterial</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2>添加物料</h2> <input id="btnFH" type="button" value="返回" onclick="Fanhui()" />
                  <table class="table table-bordered">
                      <tr>
                          <td>物料分类：</td>
                          <td>
                              <select id="type">
                              </select>
                          </td>
                      </tr>
                      <tr>
                          <td>区域：</td>
                          <td>
                              <select id="place">
                                  <option>==请选择==</option>
                                  <option value="北中国">北中国</option>
                                  <option value="南中国">南中国</option>
                                  <option value="西中国">西中国</option>
                                  <option value="全国">全国</option>
                                  <option value="社区">社区</option>
                              </select>
                          </td>
                      </tr>
                      <tr>
                          <td>物料编号：</td>
                          <td>
                              <input id="Material_Id" type="text" />
                          </td>
                      </tr>
                      <tr>
                          <td>物料名称：</td>
                          <td>
                              <input id="Material_Name" type="text" />
                          </td>
                      </tr>
                      <tr>
                          <td>描述：</td>
                          <td>
                              <textarea id="Material_Desc" rows="2" cols="20"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>图片：</td>
                          <td>
                              <div style="position: relative;">
                                  <input id="Material_Image" style="position: absolute; top: 0; bottom: 0; left: 0;right: 0; opacity: 0;" type="file" accept="image/gif, image/jpg, image/png" onchange="showImg(this)" />
                                  <div style="text-align:top">
                                      <span style="font-size: 12px;"></span>
                                      <img id="upload" src="/wwwroot/img/0.jpg" style="width: 40px; height: 40px; vertical-align: middle;" />
                                  </div>
                              </div>
                              @*<div class="layui-input-inline">
                                  <input type="file" id="Material_Image" style="height:20px;width:200px;" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                              </div>*@
                          </td>
                      </tr>
                      <tr>
                          <td>单价：</td>
                          <td>
                              <input id="Material_Price" type="text" />元
                          </td>
                      </tr>
                      <tr>
                          <td>数量：</td>
                          <td>
                              <input id="Material_Number" type="text" />个
                          </td>
                      </tr>
                      <tr>
                          <td>剩余数量：</td>
                          <td>
                              <input id="Material_LastNumber" type="text" />个
                          </td>
                      </tr>
                      <tr>
                          <td>物料状态：</td>
                          <td>
                              <input id="Material_State" type="text" />
                          </td>
                      </tr>
                      <tr>
                          <td><input id="btnTJ" type="button" value="提交" onclick="addmaterial()" /></td>
                          <td><input id="btnCZ" type="button" value="重置" onclick="czmaterial()" /></td>
                      </tr>
                  </table>
</body>
</html>

<script>
    $(function () {
        //物料类型下拉绑定
        Typedrop();
    })
    //绑定下拉（物料信息）
    function Typedrop() {
        $.ajax({
            url: "http://localhost:49764/api/material/GetTypes",
            type: "Get",
            success: function (data) {
                console.log(data);
                $("#type").empty();
                $(data).each(function () {
                    var str = '<option value=' + this.id + '>' + this.mType_Name + '</option>';
                    $("#type").append(str);
                })
            }
        })
    }

    //添加物料信息
    function addmaterial() {
        var fileUpload = $("#Material_Image").get(0);
        var file = fileUpload.files[0];
        var data = new FormData();
        data.append(file.name, file);
        var obj = {
            Material_TypeId: $("#type").val(),
            Material_PlaceName: $("#Material_PlaceName").val(),
            Material_Id: $("#Material_Id").val(),
            Material_Name: $("#Material_Name").val(),
            Material_Desc: $("#Material_Desc").val(),
            Material_Price: $("#Material_Price").val(),
            Material_Number: $("#Material_Number").val(),
            Material_LastNumber: $("#Material_LastNumber").val(),
            Material_State: $("#Material_State").val()
        }
        $.ajax({
            url: "http://localhost:49764/api/material/AddMaterial?obj=" + JSON.stringify(obj),
            type: "Post",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data > 0) {
                    alert("添加成功!");
                    location.href = '/material/ShowMaterial';
                }
                else {
                    alert("添加失败!");
                }
            }
        })
    }
    function showImg(input) {
        var file = input.files[0];
        var reader = new FileReader()
        // 图片读取成功回调函数
        reader.onload = function (e) {
            document.getElementById('upload').src = e.target.result
        }
        reader.readAsDataURL(file)
    }
    function Fanhui() {
        location.href = '/material/ShowMaterial';
    }
</script>



