
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMaterial</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>筛选</td>
            </tr>
            <tr>
                <td><input id="Materialid" type="text" /></td>
                <td><input id="Materialname" type="text" /></td>
                <td><input id="Materialprice" type="text" />——</td>
                <td><input id="Materialprice1" type="text" /></td>
                <td><input id="screen" type="button" value="筛选" onclick="Screen()"/></td>
            </tr>
        </table>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        <input id="btnAdd" type="button" value="添加" onclick="AddMaterial()" />
                    </td>
                </tr>
                <tr>
                    <td>物料编号</td>
                    <td>物料名称</td>
                    <td>缩略图</td>
                    <td>物料类型</td>
                    <td>价格</td>
                    <td>库存数量</td>
                    <td>剩余数量</td>
                    <td>产品上架</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
    </div>
</body>
</html>
<script>
    //显示物料信息
    $(function () {
        Show();
    })
    //ajax显示物料信息
    function Show() {
        $.ajax({
            url: "http://localhost:49764/api/Material/ShowMaterial",
            dataType:"json",
            type: "Get",
            success: function (d) {
                $("#tb").empty();
                $(d).each(function () {
                    var list = '<tr>' +
                        '<td>' + this.material_Id + '</td>' +
                        '<td>' + this.material_Name + '</td>' +
                        '<td>' + this.material_Image + '</td>'+
                        '<td>' + this.material_TypeId + '</td>' +
                        '<td>' + this.material_Price + '</td>' +
                        '<td>' + this.material_Number + '</td>' +
                        '<td>' + this.material_LastNumber + '</td>' +
                        '<td>' + this.material_State + '</td>' +
                        '<td><input id="Detail" type="button" value="查看详情" oclick="detail()"/><input id="edit" type="button" value="编辑" oclick="Edit()"/><input id="Recycle" type="button" value="加入回收站" oclick="recycle()"/></td>' +
                        '</tr>'
                    $("#tb").append(list);
                })
            }
        })
    }

    function Screen() {
        var Materialid = $("#Materialid").val();
        var Materialname = $("#Materialname").val();
        var Materialprice = $("#Materialprice").val();
        var Materialprice1 = $("#Materialprice1").val(); 
        $.ajax({
            url: "http://localhost:49764/api/Material/SelMaterial",
            type: "Get",
            data: {
                Materialid: Materialid,
                Materialname: Materialname,
                Materialprice: Materialprice,
                Materialprice1: Materialprice1

            },
            dataType:"json",
            success: function (d) {
                $("#tb").empty();
                $(d).each(function () {
                    var list = '<tr>' +
                        '<td>' + this.material_Id + '</td>' +
                        '<td>' + this.material_Name + '</td>' +
                        '<td>' + this.material_Image + '</td>' +
                        '<td>' + this.material_TypeId + '</td>' +
                        '<td>' + this.material_Price + '</td>' +
                        '<td>' + this.material_Number + '</td>' +
                        '<td>' + this.material_LastNumber + '</td>' +
                        '<td>' + this.material_State + '</td>' +
                        '<td><input id="Detail" type="button" value="查看详情" oclick="detail()"/><input id="edit" type="button" value="编辑" oclick="Edit()"/><input id="Recycle" type="button" value="加入回收站" oclick="recycle()"/></td>' +
                        '</tr>'
                    $("#tb").append(list);
                })
            }
        })
    }
</script>
