
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMaterial</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <td>物料编号</td>
            <td>物料名称</td>
            <td>缩略图</td>
            <td>物料类型</td>
            <td>价格</td>
            <td>库存数量</td>
            <td>剩余数量</td>
            <td>产品上架</td>
            <td>操作</td>
        </tr>
    </table>
</body>
</html>
