
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdMaterial</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    
    <div style="margin-left:100px;margin-left:20px">
        <h3 style="font-weight:600;">编辑物料</h3>
        <div style="margin:20px">
        <table  class="table table-striped">
            <tr>
                <td>物料分类：</td>
                <td>
                    <select id="Mtype_name" class="btn btn-default dropdown-toggle">
                    </select>
                </td>
            </tr>
            <tr>
                <td>区域：</td>
                <td>
                    <select class="btn btn-default dropdown-toggle" id="Material_PlaceName">
                        <option value="北中国">北中国</option>
                        <option value="南中国">南中国</option>
                        <option value="西中国">西中国</option>
                        <option value="全国">全国</option>
                        <option value="社区">社区</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>物料编号：</td>
                <td><input id="Material_Id" type="text" /></td>
            </tr>
            <tr>
                <td>物料名称：</td>
                <td><input id="Material_Name" type="text" /></td>
            </tr>
            <tr>
                <td>描述：</td>
                <td><textarea id="Material_Desc" rows="5" cols="30"></textarea></td>
            </tr>
            <tr>
                <td>图片：</td>
                <td>
                    <div style="position: relative;">
                        <input id="Material_Image" style="position: absolute; top: 0; bottom: 0; left: 0;right: 0; opacity: 0;" type="file" accept="image/gif, image/jpg, image/png" onchange="showImg(this)" />
                        <div style="text-align:top">
                            <img id="upload" style="width: 40px; height: 40px; vertical-align: middle;" />
                        </div>
                    </div>
                    @*<input id="Material_Image" type="text" />*@
                </td>
            </tr>
            <tr>
                <td>单价：</td>
                <td><input id="Material_Price" type="text" />元</td>
            </tr>
            <tr>
                <td>数量：</td>
                <td><input id="Material_Number" type="text" />个</td>
            </tr>
            <tr>
                <td>物料状态</td>
                <td>
                    <input id="Material_State" type="text" />
                    <input id="Hidden" type="hidden" value="@ViewBag.Id" />
                </td>
            </tr>
            <tr>
                <td><input id="btnTJ" type="button" value="提交" onclick="Save()" class="btn btn-primary" style="width:80px" /></td>
                <td><input id="btnFH" type="button" value="返回" onclick="Fanhui()" class="layui-btn layui-btn-primary"  /></td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>
<script>
    $(function () {
        //物料类型下拉绑定
        Typedrop();
        //反填物料方法
        FillMaterial();
    })
    //绑定下拉（物料信息）
    function Typedrop() {
        $.ajax({
            url: "http://49.234.34.192:8034/api/Material/GetTypes",
            type: "Get",
            success: function (data) {
                console.log(data);
                $("#Mtype_name").empty();
                $("#Mtype_name").append("<option value=0>请选择</option>");
                $(data).each(function () {
                   var str = '<option value=' + this.id + '>' + this.mType_Name + '</option>'
                    $("#Mtype_name").append(str);
                })
            }
        })
    }
    //显示图片
    function showImg(input) {
        var file = input.files[0];
        var reader = new FileReader()
        // 图片读取成功回调函数
        reader.onload = function (e) {
            document.getElementById('upload').src = e.target.result
        }
        reader.readAsDataURL(file)
    }
    //反填物料
    function FillMaterial() {
        $.ajax({
            url: "http://49.234.34.192:8034/api/Material/Fillmaterial?Id=" + $("#Hidden").val(),
            type: "Get",
            dataType: "json",
            success: function (data) { 
                console.log(data);
                $('#upload').attr("src", "http://49.234.34.192:8034" + data.material_Image);
                $("#Mtype_name").val(data.material_TypeId)
                $("#Material_PlaceName").val(data.material_PlaceName)
                $("#Material_Id").val(data.material_Id)
                $("#Material_Name").val(data.material_Name)
                $("#Material_Desc").val(data.material_Desc)
                //$("#Material_Image").val(data.material_Image)
                $("#Material_Price").val(data.material_Price)
                $("#Material_Number").val(data.material_Number)
                $("#Material_State").val(data.material_State)
            }
        })
    }

    //编辑物料
    function Save() {
        var fileUpload = $("#Material_Image").get(0);
        var file = fileUpload.files[0];
        var data = new FormData();
        data.append(file.name, file);
        var obj = {
            Material_TypeId: $("#Mtype_name").val(),
            Material_PlaceName: $("#Material_PlaceName").val(),
            Material_Id: ($("#Material_Id").val()),
            Material_Name: $("#Material_Name").val(),
            Material_Desc: $("#Material_Desc").val(),
            
            Material_Price: parseFloat($("#Material_Price").val()),
            Material_Number: parseInt($("#Material_Number").val()),
            Material_State: parseInt($("#Material_State").val()),
            Id: parseInt($("#Hidden").val())
        };
        console.log(obj);
       // console.log(obj);
        $.ajax({
            url: "http://49.234.34.192:8034/api/Material/UpdMaterial?obj=" + JSON.stringify(obj),
            type: "post",
            data:data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data > 0) {
                    alert("OK");
                    location.href = '/Material/ShowMaterial';
                }
                else {
                    alert("NO");
                    location.href = '/Material/ShowMaterial';
                }
            }
        })
    }

    function Fanhui() {
        location.href = '/Material/ShowMaterial';
    }

</script>

